input {
    width: 26%;
}

label {
    padding-right: 10px;
}
button {
    display: block;
    padding: 3px 10px;
    border: none;
    background-color: brown;
    border-radius: 10px;
    width: fit-content;
    color: white;
}

form {
    width: 130px;
}